---
import BaseLayout from "../layouts/BaseLayout.astro";
import { formatDate } from "../lib/formatDate";
import { Link } from "../lib/Link";
import { Paragraph } from "../lib/prose/Paragraph";
import type { PostFrontmatter } from "../types";

let posts = await Astro.glob<PostFrontmatter>("../../posts/**/*.mdx");

if (import.meta.env.PROD) {
  posts = posts.filter((post) => !post.frontmatter.draft);
}

posts.sort((a, b) => {
  return (
    new Date(b.frontmatter.date).getTime() -
    new Date(a.frontmatter.date).getTime()
  );
});
---

<BaseLayout
  title="matheus-hrm"
  description="oi, tenho 20 anos e sou um desenvolvedor fullstack(quase)"
>
  <h1 slot="header-content" class="text-gray-600 dark:text-gray-500">matheus</h1>
  <main class="py-5 zaduma-prose">
    <Paragraph>
      <small class="text-gray-600 dark:text-gray-500"
        >fullstack dev
      </small>
    </Paragraph>
    <Paragraph class="mt-6 text-justify">
      oi, tenho 20 anos e sou um desenvolvedor fullstack (ou quase), atualmente estudo 
      <Link 
        href="https://inf.ufg.br/p/ciencia-computacao"       
        target="blank"
      >
      <b>Ciência da Computação</b>
      <Link/>
      pela Universidade Federal de Goiás, atualmente estudo tecnologias web como 
      <Link href="https://reactjs.org/" target="blank">
        <b>React</b>
      </Link>, 
      <Link href="https://nextjs.org/" target="blank">
        <b>Next.js</b>
      </Link> 
      e
      <Link href="https://www.typescriptlang.org/" target="blank">
        <b>Typescript</b> 
      </Link>, mas também tenho interesse em outras áreas como 
      <Link href="https://www.cprogramming.com/" target="blank">
        <b>C</b>
      </Link>, e 
      <Link href="https://www.python.org/" target="blank">
        <b>Java</b>
      </Link>.
    </Paragraph>
  </main>
  <ul>
    {
      posts.map(({ frontmatter }) => {
        const date = new Date(frontmatter.date);

        return (
          <li>
            <Link
              href={frontmatter.path}
              class="flex flex-row gap-2 justify-between"
              noUnderline
            >
              <h2 class="text-gray-800 dark:text-gray-300 font-sans">
                {frontmatter.title}
              </h2>
              <time
                datetime={date.toISOString()}
                class="text-gray-600 dark:text-gray-400 tabular-nums tracking-tighter shrink-0"
              >
                {formatDate(date)}
              </time>
            </Link>
          </li>
        );
      })
    }
  </ul>
  <style>
    ul:hover li:not(:hover) :where(h2, time) {
      @apply text-gray-600 transition-colors;
      :global(.dark) & {
        @apply text-gray-500;
      }
    }
  </style>
</BaseLayout>
